.dashboard__container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 60px 1fr;
}

.dashboard__pages {
  display: grid;
  grid-template-rows: 60px 1fr;
}